.progress_bar_conteiner{
    width: 700px;
    height: 30%;
    position: absolute;
    top: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 626px;
    height: 4px;
    border-radius: 5px;
    background: #5e5e5e;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    background: white;
    border-radius: 100%;
    cursor: pointer;
}

.slider::-moz-range-progress{
    background: white;
}

.timer_start{
    position: relative;
    bottom: 1px;
    left: -7px;
    color: #979797;
    font-size: 12px;
    font-family: "Circular Medium";
}
  
.timer_end{
    position: relative;
    bottom: 1px;
    left: 7px;
    color: #979797;
    font-size: 12px;
    font-family: "Circular Medium";
}
  