.Topnav{
    position:relative;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    z-index: 99;
    background-color: transparent;
}
.Topnav div{
    padding: 0px 32px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Topnav div div{
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: auto;
}
.Topnav span {
    display: flex;
    align-items: center;
}
 