.playbar_container {
    grid-area: f;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    background-color: #181818;
    border-top: 1px solid #242424;
    padding: 17px 16px 17px 16px;
}

/* Left */

.footerLeft {
    display: flex;
    position: relative;
    bottom: 1px;
    align-items: center;
    justify-content: start;
    text-overflow: ellipsis;
    overflow: hidden;
}

.footerLeft img {
    width: 56px;
    height: 56px;
}

.songDetails {
    margin-left: 14px;
    margin-right: 14px;
}

.songDetails p {
    margin: 0px;
}

/* Marquee */

/* @keyframes scrolling {
    0% { transform: translateX(70%); }
    100% { transform: translateX(0%); }
} */

.songDetails #title {
    border: 1px solid white;
    position: relative;
    max-width: 400px;
    top: 1px;
    margin-bottom: 4px;
    color: white;
    font-size: 14px;
    font-family: "Circular Medium";
    white-space: nowrap;
    overflow: hidden;
    /* animation: scrolling 10s linear infinite alternate;  */
}

.songDetails #like {
    width: 20px;
    height: 20px;
}

.songDetails #artist {
    font-size: 11px;
    color: rgb(179, 179, 179);
    font-family: "Circular Medium";
}

/* Middle */

.footerMid {
    display: flex;
    height: 56px;
    flex-direction: column;
    align-items: center;
}

.icons {
    position: relative;
    bottom: 3px;
    right: -1px;
    height: 60%;
    width: 210px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.icons #shuffle{
    position: relative;
    top: 2px;
    right: 44px;
}

.icons #previous{
    position: relative;
    top: 2px;
    right: 19px;
}

.icons #play{
    position: relative;
    top: 5px;
    right: 2px;
}

.icons #play:hover{
    transform: scale(1.05);
    transition: .1s;
}

.icons #next{
    position: relative;
    top: 2px;
    left: 16px;
}

.icons #repeat{
    position: relative;
    top: 2px;
    left: 41px;
}

.icons :hover{
    cursor: pointer;
    filter: brightness(130%);
}
  
/* RIGHT */

.footerRight {
    display: flex;
    position: relative;
    bottom: 0px;
    align-items: center;
    justify-content: flex-end;
}

.footerRight #queue{
    position: relative;
    right: -4px;
    top: 1px;
    margin: 0px 10px;
    cursor: pointer;
}

.footerRight #connect_device{
    position: relative;
    right: -10px;
    margin: 0px 0px;
    margin-top: 2px;
    cursor: pointer;
}

.footerRight #volume_control{
    position: relative;
    right: -4px;
    top: 0px;
    margin: -3px 6px;
    margin-bottom: 0px;
    cursor: pointer;
}

.footerRight #fullscren{
    position: relative;
    right: -1px;
    margin: 1px 10px;
    margin-bottom: 4px;
    cursor: pointer;
}