.container{
    /* justify-content: space-between;
    flex-wrap: wrap; */
    border: 10 px solid red;
    display: flex;
    position: fixed;
    margin-left: 241px;
    width: calc(100% - 241px);
    height: 100%;
}

.min-height{
    min-height: 75vh;
}

.start{
    justify-content: flex-start;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}