/* ================================================
*   0 - Container
*================================================== */

.navbar {
    grid-area: n;
    z-index: 2;
    background-color: transparent; 
}

.navbar header {
    height: 64px;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

@media (max-width: 1023px) {
    .navbar header {
        padding: 16px;
    }
}
/* ================================================
*   1 - Navigation Controls
*================================================== */

.nav_control {
    display: flex;
    gap: 16px;
}

.nav_control button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.7);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* ================================================
*   2 - Page Top Bar Content
*================================================== */

.page_top_bar_content {
    flex-grow: 1;
}

.page_top_bar_content div {
    display: flex;
    align-items: center;
}

/* ================================================
*   3 - User
*================================================== */

.user {
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 2px;
    border-radius: 23px;
    background-color: rgba(0,0,0,.7);
}

.figure_container {
    width: 28px;
    height: 28px;
}

.figure_container div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding-bottom: 2px;
    background-color: #535353;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user span {
    color: white;
    white-space: nowrap;
}

.user .arrow_down svg {
    margin-inline-end: 6px;
}

@media (max-width: 872px) {
    .user span,
    .user .arrow_down {
        display: none;
    }
}