.navbar{
    position: fixed;
    height: 64px;
    width: calc(100% - 241px);
    right: 0;
    z-index: 10;
    display: grid;
    padding: 10px 32px;
    grid-template-columns: 5% 80% 15%;
    background-color: transparent;
}

.nav_button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 1px 0px 0px;
}


.page_header{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 15px;
}

.profile{
    border: 1px solid white;
}