.navbar{
    grid-area: n;
    background-color: black; 
    padding: 10px 32px;
    display: grid;
    grid-template-columns: 5% 80% 15%;
}

.nav_button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 1px 0px 0px;
}

.page_header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
}

.profile{
    border: 1px solid white;
}