@font-face {
  font-family: 'Circular Light';
  src: url('../public/fonts/CircularStd-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Medium';
  src: url('../public/fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Bold';
  src: url('../public/fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Black';
  src: url('../public/fonts/CircularStd-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Book';
  src: url('../public/fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  width: 100vw;
  height: 100vh;
  min-width: 775px;
  display: grid;
  grid-template-columns: 241px 1fr;
  grid-template-rows: 64px calc(100vh - 154px) 90px;
  grid-template-areas:  
      "s n" 
      "s c" 
      "f f";
}

body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 14px;
  font-family: 'Circular Book';
}

button {
  all: unset;
}

a {
  all: unset;
}
span {
  font-size: 14px;
  font-family: 'Circular Book';
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}