/* ================================================
*   0 - Container
*================================================== */

.sidemenu {
    grid-area: s;
    background-color: #000000;
}

.principal {
    width: 100%;
    height: 100%;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
}

/* ================================================
*   1 - Logo
*================================================== */

.logo {
    display: flex;
    justify-content: space-between;
    width: 100%;  
}

.logo a {
    width: 100%;
    height: 47.6px;
    padding: 0 24px;
    margin-bottom: 18px;
    cursor: pointer;
}

.logo img {
    width: 131px;
    height: 40px;
}

/* ================================================
*   2 - Pages List
*================================================== */

.pages_list {
    list-style: none;
}

.pages_list li {
    padding: 0 8px;
}

.pages_list li a {
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.pages_list li a span {
    color: #b3b3b3;
}

.pages_list li a:hover span {
    color: white;
    transition: .2s;
}

.pages_list li#active a span {
    color: white;
}

/* ================================================
*   3 - Playlists Root Container
*================================================== */

.playlists_root_container {
    width: 100%;
    height: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.playlists_root_container .content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------------
*   3.1 - Create Playlist
*-------------------------------------------------- */

.create_playlist {
    width: 100%;
    display: flex;
}

.create_playlist button {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 24px;
    opacity: 0.7;
    cursor: pointer;
}

.create_playlist button:hover {
    opacity: 1;
    transition: .2s;
}

.create_playlist button span {
    color: white;
}

.create_playlist button div {
    height: 24px;
    font-size: 24px;
    color: white;
    margin-right: 16px;
}

/* ------------------------------------------------
*   3.2 - Liked Songs
*-------------------------------------------------- */

.liked_songs {
    width: 100%;
    display: flex;
}

.liked_songs button {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 24px;
    cursor: pointer;
}

.liked_songs button span {
    color: white;
    opacity: 0.7;
}

.liked_songs button div {
    height: 24px;
    font-size: 24px;
    color: white;
    margin-right: 16px;
}

.liked_songs button:hover,
.liked_songs button:hover span,
.liked_songs button#active,
.liked_songs button#active span {
    opacity: 1;
    filter: brightness(150%);
    transition: .2s;
}

/* ------------------------------------------------
*   3.3 - Horizontal Line
*-------------------------------------------------- */

.horizontal_line {
    position: relative;
}
.horizontal_line hr {
    height: 1px;
    margin: 8px 24px 0 24px;
    border: none;
    background-color: #282828;
}

.horizontal_line div {
    height: 16px;
    bottom: -16px;
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0,0,0,.7), transparent);
}

/* ------------------------------------------------
*   3.4 - Playlists
*-------------------------------------------------- */

.playlists_container {
    height: 100%;
}

.playlists_container div {
    height: 100%;
    padding: 8px 0;
    cursor: default;
}

.playlists {
    list-style: none;
}

.playlists li {
    color: #b3b3b3;
    padding: 0px 24px;
    font-size: 13px;
    line-height: 32px;
    font-family: 'Circular Book';
}

.playlists li:hover {
    color: white;
}

/* ------------------------------------------------
*   3.4 - Install app
*-------------------------------------------------- */

.install_app {
    width: 100%;
}

.install_app div {
    padding: 0 8px;
}

.install_app a {
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    gap: 16px;
    align-items: center;
}

.install_app span {
    color: #b3b3b3;
}

.install_app svg {
    opacity: .7
}

.install_app a:hover svg,
.install_app a:hover span {
    opacity: 1;
    color: white;
    transition: .2s;
}